@model LaptopEshop.EF.Order

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<!-- BREADCRUMBS SETCTION START -->
<div class="breadcrumbs-section plr-200 mb-80">
    <div class="breadcrumbs overlay-bg">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="breadcrumbs-inner">
                        <h1 class="breadcrumbs-title">Order</h1>
                        <ul class="breadcrumb-list">
                            <li><a href="index.html">Home</a></li>
                            <li>Order</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BREADCRUMBS SETCTION END -->
<!-- Start page content -->
<section id="page-content" class="page-wrapper">

    <!-- SHOP SECTION START -->
    <div class="shop-section mb-80">
        <div class="container">
            <div class="row">
              
                <div class="col-md-12">
                    <!-- Tab panes -->
                    <div class="tab-content">
                       
                        <!-- checkout start -->
                        <div class="tab-pane active" id="checkout">
                            <div class="checkout-content box-shadow p-30">

                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="row">
                                        <!-- billing details -->
                                        <div class="col-md-6">
                                            <div class="billing-details pr-10">
                                                <h6 class="widget-title border-left mb-20">billing details</h6>

                                                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", placeholder = "Nhập địa chỉ...", @required = "required" } })
                                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", placeholder = "Ghi chú...", @required = "required" } })
                                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })


                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <!-- our order -->
                                            <div class="payment-details pl-10 mb-50">
                                                <h6 class="widget-title border-left mb-20">our order</h6>
                                                <table>
                                                    @foreach (var item in ViewBag.Carts)
                                                    {

                                                        <tr>
                                                            <td class="td-title-1">@item.Product.Name x @item.Quantity</td>
                                                            <td class="td-title-2 product-sub">@(item.Product.UnitPrice * item.Quantity)</td>
                                                        </tr>




                                                    }

                                                 
                                                    <tr>
                                                        <td class="order-total">Order Total</td>
                                                        <td class="order-total-price" id="total-price">$2425.00</td>
                                                    </tr>
                                                </table>
                                            </div>

                                            <button class="submit-btn-1 mt-30 btn-hover-1" type="submit">place order</button>
                                        </div>
                                    </div>
                                }
                                </div>
                        </div>
                        <!-- checkout end -->
                                
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- SHOP SECTION END -->

</section>
<!-- End page content -->

<script>

    $(document).ready(function () {
        updateTotal();
    });

    function updateTotal() {
        var totalElement = document.getElementById('total-price');
        var total = 0;
        var subtotalList = document.getElementsByClassName('product-sub');
        for (var i = 0; i < subtotalList.length; i++) {
            total += parseFloat(subtotalList[i].innerHTML);
        }
        totalElement.innerHTML = total;
    }
</script>