@model LaptopEshop.EF.Product
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<!-- Start page content -->
<section id="page-content" class="page-wrapper">

    <!-- SHOP SECTION START -->
    <div class="shop-section mb-80">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <!-- single-product-area start -->
                    <div class="single-product-area mb-80">
                        <div class="row">
                            <!-- imgs-zoom-area start -->
                            <div class="col-md-5 col-sm-5 col-xs-12">
                                <div class="imgs-zoom-area">
                                    <img id="zoom_03" src="@Model.Image" data-zoom-image="@Model.Image" alt="">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div id="gallery_01" class="carousel-btn slick-arrow-3 mt-30">
                                                <div class="p-c">
                                                    <a href="#" data-image="@Model.Image" data-zoom-image="@Model.Image">
                                                        <img class="zoom_03" src="@Model.Image" alt="">
                                                    </a>
                                                </div>
                                                <div class="p-c">
                                                    <a href="#" data-image="@Model.Image" data-zoom-image="@Model.Image">
                                                        <img class="zoom_03" src="@Model.Image" alt="">
                                                    </a>
                                                </div>
                                                <div class="p-c">
                                                    <a href="#" data-image="@Model.Image" data-zoom-image="@Model.Image">
                                                        <img class="zoom_03" src="@Model.Image" alt="">
                                                    </a>
                                                </div>
                                                <div class="p-c">
                                                    <a href="#" data-image="@Model.Image" data-zoom-image="@Model.Image">
                                                        <img class="zoom_03" src="@Model.Image" alt="">
                                                    </a>
                                                </div>
                                                <div class="p-c">
                                                    <a href="#" data-image="@Model.Image" data-zoom-image="@Model.Image">
                                                        <img class="zoom_03" src="@Model.Image" alt="">
                                                    </a>
                                                </div>
                                                <div class="p-c">
                                                    <a href="#" data-image="@Model.Image" data-zoom-image="@Model.Image">
                                                        <img class="zoom_03" src="@Model.Image" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- imgs-zoom-area end -->
                            <!-- single-product-info start -->
                            <div class="col-md-7 col-sm-7 col-xs-12">
                                <div class="single-product-info">
                                    <h3 class="text-black-1">@Model.Name</h3>
                                    <h6 class="brand-name-2">@Model.Category.NameVN</h6>
                                    <!--  hr -->


                                    <hr>
                                    <!-- single-product-price -->
                                    <h3 class="pro-price">Price: $ @Model.UnitPrice</h3>
                                    <!--  hr -->
                                    <hr>
                                    <div>
                                        <a href="#" onclick="addcart('@Model.Id')" class="button extra-small button-black" tabindex="-1">
                                            <span class="text-uppercase">Thêm vào giỏ hàng</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- single-product-info end -->
                        </div>
                        <!-- single-product-tab -->
                        <div class="row">
                            <div class="col-md-12">
                                <!-- hr -->
                                <hr>
                                <div class="single-product-tab">
                                    <ul class="reviews-tab mb-20">
                                        <li class="active"><a href="#description" data-toggle="tab">description</a></li>
                                        @*  <li><a href="#information" data-toggle="tab">information</a></li>
                            <li><a href="#reviews" data-toggle="tab">reviews</a></li>*@
                                    </ul>
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane active" id="description">
                                            @*<p>There are many variations of passages of Lorem Ipsum available, but the majo Rity have be suffered alteration in some form, by injected humou or randomis Rity have be suffered alteration in some form, by injected humou or randomis words which donot look even slightly believable. If you are going to use a passage Lorem Ipsum.</p>
                                <p>rerum blanditiis dolore dignissimos expedita consequatur deleniti consectetur non exercitationem. rerum blanditiis dolore dignissimos expedita consequatur deleniti consectetur non exercitationem.</p>
                                            *@
                                            @Html.Raw(@Model.Description)

                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="information">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, neque fugit inventore quo dignissimos est iure natus quis nam illo officiis,  deleniti consectetur non ,aspernatur.</p>
                                            <p>rerum blanditiis dolore dignissimos expedita consequatur deleniti consectetur non exercitationem.</p>
                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="reviews">
                                            <!-- reviews-tab-desc -->
                                            <div class="reviews-tab-desc">
                                                <!-- single comments -->
                                                <div class="media mt-30">
                                                    <div class="media-left">
                                                        <a href="#"><img class="media-object" src="~/Asset/img/author/1.jpg" alt="#"></a>
                                                    </div>
                                                    <div class="media-body">
                                                        <div class="clearfix">
                                                            <div class="name-commenter pull-left">
                                                                <h6 class="media-heading"><a href="#">Gerald Barnes</a></h6>
                                                                <p class="mb-10">27 Jun, 2016 at 2:30pm</p>
                                                            </div>
                                                            <div class="pull-right">
                                                                <ul class="reply-delate">
                                                                    <li><a href="#">Reply</a></li>
                                                                    <li>/</li>
                                                                    <li><a href="#">Delate</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer accumsan egestas .</p>
                                                    </div>
                                                </div>
                                                <!-- single comments -->
                                                <div class="media mt-30">
                                                    <div class="media-left">
                                                        <a href="#"><img class="media-object" src="~/Asset/img/author/2.jpg" alt="#"></a>
                                                    </div>
                                                    <div class="media-body">
                                                        <div class="clearfix">
                                                            <div class="name-commenter pull-left">
                                                                <h6 class="media-heading"><a href="#">Gerald Barnes</a></h6>
                                                                <p class="mb-10">27 Jun, 2016 at 2:30pm</p>
                                                            </div>
                                                            <div class="pull-right">
                                                                <ul class="reply-delate">
                                                                    <li><a href="#">Reply</a></li>
                                                                    <li>/</li>
                                                                    <li><a href="#">Delate</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer accumsan egestas .</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--  hr -->
                                <hr>
                            </div>
                        </div>
                    </div>

                    <!-- single-product-area end -->
                    <div class="related-product-area">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="section-title text-left mb-40">
                                    <h2 class="uppercase">Lịch sử</h2>
                                    <h6>Những sản phẩm bạn đã xem</h6>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="active-related-product">
                                @foreach (var item in ViewBag.histories)
                                {
                                    <!-- product-item start -->
                                    <div class="col-xs-12">
                                        <div class="product-item">
                                            <div class="product-img">
                                                <a href="single-product.html">
                                                    <img src="@item.Image" alt="" />
                                                </a>
                                            </div>
                                            <div class="product-info">
                                                <h6 class="product-title">
                                                    <a href="single-product.html">@item.Name</a>
                                                </h6>
                                               
                                                <h3 class="pro-price">$ @item.UnitPrice</h3>
                                                <ul class="action-button">
                                                    
                                                    <li>
                                                        <a href="#" onclick="addcart(@item.Id)" title="Add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- product-item end -->
                                }
                            </div>
                        </div>
                    </div>

                </div>
               
            </div>
        </div>
    </div>
    <!-- SHOP SECTION END -->

</section>
<!-- End page content -->
<script>


    function addcart(productId) {

        var data = {};
       
        data["productId"] = productId;

        $.ajax({
            url: '/api/CartAPI/Get',
            type: 'Get',
            contentType: 'application/json',
            data: data,
            dataType: 'text',
            success: function (result) {
               // console.log(result);
                alert("Đã thêm vào giỏ hàng sản phẩm: " + result);
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
    

</script>